.section__hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient($hero-overlay-cl, $hero-overlay-cl),
    url("../images/bg_hero.jpg");
  background-position: center;
  background-size: cover;

  text-align: center;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;

  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: $white-cl;

  text-transform: uppercase;

  @include for-desktop {
    max-width: 650px;

    font-size: 44px;
    line-height: 1.36;
  }
}
