.logo {
  color: $title-text-cl;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  line-height: 1.2;

  @include for-desktop {
    font-size: 26px;
  }
}

.site-header__logo {
  @include for-tablet {
    margin-right: 88px;
  }
  @include for-desktop {
    margin-right: 93px;
  }
}

.site-footer__logo {
  margin-bottom: 20px;
  display: block;

  color: var(--white-color);
}

.logo__accent {
  color: $accent-cl;
}
